.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card img {
  max-width: 100px;
}

.card .desc {
  max-width: 500px;
  font-size: small;
}

.card input {
  font-family: monospace;
  font-size: xx-large;
  border: none;
  width: 50px;
}
